body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: .3s ease;
}

:root {
  --bg: #f0f0f0;
  --text: #111;
  --card: #fff;
  --btn: #007bff;
  --btn-danger: #d9534f;
}

.dark {
  --bg: #111;
  --text: #eee;
  --card: #1e1e1e;
  --btn: #2980ff;
  --btn-danger: #ff4d4d;
}

header {
  padding: 15px;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: var(--card);
  padding: 15px;
  margin: 12px;
  border-radius: 12px;
}

button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: var(--btn);
  color: white;
}

.btn-danger {
  background: var(--btn-danger);
  color: white;
}

h2 {
  margin-top: 0;
}
